<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jeeplus.modules.weightmonitor.mapper.WeightMonitorMapper">

	<sql id="weightMonitorColumns">
		a.id AS "id",
		a.create_by AS "createBy.id",
		a.create_date AS "createDate",
		a.update_by AS "updateBy.id",
		a.update_date AS "updateDate",
		a.remarks AS "remarks",
		a.del_flag AS "delFlag",
		a.work_station AS  "workStation",
		a.vehicle_no AS  "vehicleNo",
		a.weight_value AS "weightValue"
	</sql>
	
	<sql id="weightMonitorJoins">
		
	</sql>

	<select id="get" resultType="WeightMonitor" >
		SELECT
		<include refid="weightMonitorColumns"/>
		FROM videos a
		<include refid="weightMonitorJoins"/>
		WHERE a.id = #{id}
	</select>

	<select id="findListByStationAndTime" resultType="WeightMonitor" >
		SELECT
		<include refid="weightMonitorColumns"/>

		FROM weight_monitor a
		<include refid="weightMonitorJoins"/>
		<where>
			a.del_flag = #{DEL_FLAG_NORMAL}
			${dataScope}
			<if test="workStation != null and workStation != ''">
				AND a.work_station = #{workStation}
			</if>
			<if test="begintaretime != null and begintaretime != '' and endtaretime != null and endtaretime != ''">
				AND a.update_date BETWEEN #{begintaretime} AND #{endtaretime}
			</if>
			<if test="begintaretime != null and begintaretime != ''">
				AND a.update_date &gt;= #{begintaretime}
			</if>
			<if test="endtaretime != null and endtaretime != ''">
				AND a.update_date &lt;= #{endtaretime}
			</if>
		</where>
		order by a.update_date asc
	</select>
	
<!--	<insert id="insert">-->
<!--		insert into weight_monitor(-->
<!--		id,-->
<!--		work_station,-->
<!--		vehicle_no,-->
<!--		weight_value-->
<!--		) values(-->
<!--		#{id},-->
<!--		#{workStation},-->
<!--		#{vehicleNo},-->
<!--		#{weightValue}-->
<!--		)-->
<!--	</insert>-->
	<insert id="insert">
		INSERT INTO weight_monitor(
			id,
			create_by,
			create_date,
			update_by,
			update_date,
			remarks,
			del_flag,
			work_station,
			weight_value,
			vehicle_no
		) VALUES (
			#{id},
			#{createBy.id},
			#{createDate},
			#{updateBy.id},
			#{updateDate},
			#{remarks},
			#{delFlag},
			#{workStation},
			#{weightValue},
			#{vehicleNo}
		)
	</insert>
</mapper>