<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jeeplus.modules.vehicleinfo.mapper.VehicleInfoMapper">
    
	<sql id="vehicleInfoColumns">
		a.id AS "id",
		a.create_by AS "createBy.id",
		a.create_date AS "createDate",
		a.update_by AS "updateBy.id",
		a.update_date AS "updateDate",
		a.del_flag AS "delFlag",
		a.archive_flag AS "archiveFlag",
		a.company_code AS "companyCode",
		a.company_cname AS "companyCname",
		a.type_code AS "typeCode",
		a.vehicle_no AS "vehicleNo",
		a.group_code AS "groupCode",
		a.pass_code AS "passCode",
		a.rfid_no AS "rfidNo",
		a.srfid_no AS "srfidNo",
		a.group_company_name AS "groupCompanyName",
		a.dept_code AS "deptCode",
		a.carry_company_name AS "carryCompanyName",
		a.op_dept_code AS "opDeptCode",
		a.use_user_id AS "useUserId",
		a.trans_contact_person AS "transContactPerson",
		a.trans_contact_person_tel AS "transContactPersonTel",
		a.wagon_type AS "wagonType",
		a.qty AS "qty",
		a.deal_time AS "dealTime",
		a.approve_time AS "approveTime",
		a.approve_person_no AS "approvePersonNo",
		a.start_time AS "startTime",
		a.end_time AS "endTime",
		a.remarks AS "remarks"
	</sql>
	
	<sql id="vehicleInfoJoins">
		
	</sql>
	
    
	<select id="get" resultType="VehicleInfo" >
		SELECT 
			<include refid="vehicleInfoColumns"/>
		FROM vehicle_info a
		<include refid="vehicleInfoJoins"/>
		WHERE a.id = #{id}
	</select>
	
	<select id="findList" resultType="VehicleInfo" >
		SELECT 
			<include refid="vehicleInfoColumns"/>
		FROM vehicle_info a
		<include refid="vehicleInfoJoins"/>
		<where>
			a.del_flag = #{DEL_FLAG_NORMAL}
			${dataScope}
			<if test="archiveFlag != null and archiveFlag != ''">
				AND a.archive_flag = #{archiveFlag}
			</if>
			<if test="companyCode != null and companyCode != ''">
				AND a.company_code = #{companyCode}
			</if>
			<if test="companyCname != null and companyCname != ''">
				AND a.company_cname = #{companyCname}
			</if>
			<if test="typeCode != null and typeCode != ''">
				AND a.type_code = #{typeCode}
			</if>
			<if test="vehicleNo != null and vehicleNo != ''">
				AND a.vehicle_no like #{vehicleNo}
			</if>
			<if test="groupCode != null and groupCode != ''">
				AND a.group_code like #{groupCode}
			</if>
			<if test="passCode != null and passCode != ''">
				AND a.pass_code = #{passCode}
			</if>
			<if test="rfidNo != null and rfidNo != ''">
				AND a.rfid_no = #{rfidNo}
			</if>
			<if test="srfidNo != null and srfidNo != ''">
				AND a.srfid_no = #{srfidNo}
			</if>
			<if test="groupCompanyName != null and groupCompanyName != ''">
				AND a.group_company_name like #{groupCompanyName}
			</if>
			<if test="deptCode != null and deptCode != ''">
				AND a.dept_code = #{deptCode}
			</if>
			<if test="carryCompanyName != null and carryCompanyName != ''">
				AND a.carry_company_name = #{carryCompanyName}
			</if>
			<if test="opDeptCode != null and opDeptCode != ''">
				AND a.op_dept_code = #{opDeptCode}
			</if>
			<if test="useUserId != null and useUserId != ''">
				AND a.use_user_id = #{useUserId}
			</if>
			<if test="transContactPerson != null and transContactPerson != ''">
				AND a.trans_contact_person = #{transContactPerson}
			</if>
			<if test="transContactPersonTel != null and transContactPersonTel != ''">
				AND a.trans_contact_person_tel = #{transContactPersonTel}
			</if>
			<if test="wagonType != null and wagonType != ''">
				AND a.wagon_type = #{wagonType}
			</if>
			<if test="qty != null and qty != ''">
				AND a.qty = #{qty}
			</if>
			<if test="dealTime != null and dealTime != ''">
				AND a.deal_time = #{dealTime}
			</if>
			<if test="approveTime != null and approveTime != ''">
				AND a.approve_time = #{approveTime}
			</if>
			<if test="approvePersonNo != null and approvePersonNo != ''">
				AND a.approve_person_no = #{approvePersonNo}
			</if>
			<if test="remarks != null and remarks != ''">
				AND a.remarks = #{remarks}
			</if>
			<choose>
				<when test="startTime != null and startTime != '' and endTime != null and endTime != ''">
					and a.create_date between #{startTime} and #{endTime}
				</when>
				<otherwise>
					<if test="startTime != null and startTime != ''">
						AND a.create_date &gt;= #{startTime}
					</if>
					<if test="endTime != null and endTime != ''">
						AND a.create_date &lt;= #{endTime}
					</if>
				</otherwise>
			</choose>
		</where>
		<choose>
			<when test="page !=null and page.orderBy != null and page.orderBy != ''">
				ORDER BY ${page.orderBy}
			</when>
			<otherwise>
				ORDER BY a.update_date DESC
			</otherwise>
		</choose>
	</select>
	
	<select id="findAllList" resultType="VehicleInfo" >
		SELECT 
			<include refid="vehicleInfoColumns"/>
		FROM vehicle_info a
		<include refid="vehicleInfoJoins"/>
		<where>
			a.del_flag = #{DEL_FLAG_NORMAL}
			${dataScope}
		</where>		
		<choose>
			<when test="page !=null and page.orderBy != null and page.orderBy != ''">
				ORDER BY ${page.orderBy}
			</when>
			<otherwise>
				ORDER BY a.update_date DESC
			</otherwise>
		</choose>
	</select>
	
	<insert id="insert">
		INSERT INTO vehicle_info(
			id,
			create_by,
			create_date,
			update_by,
			update_date,
			del_flag,
			archive_flag,
			company_code,
			company_cname,
			type_code,
			vehicle_no,
			group_code,
			pass_code,
			rfid_no,
			srfid_no,
			group_company_name,
			dept_code,
			carry_company_name,
			op_dept_code,
			use_user_id,
			trans_contact_person,
			trans_contact_person_tel,
			wagon_type,
			qty,
			deal_time,
			approve_time,
			approve_person_no,
			start_time,
			end_time,
			remarks
		) VALUES (
			#{id},
			#{createBy.id},
			#{createDate},
			#{updateBy.id},
			#{updateDate},
			#{delFlag},
			#{archiveFlag},
			#{companyCode},
			#{companyCname},
			#{typeCode},
			#{vehicleNo},
			#{groupCode},
			#{passCode},
			#{rfidNo},
			#{srfidNo},
			#{groupCompanyName},
			#{deptCode},
			#{carryCompanyName},
			#{opDeptCode},
			#{useUserId},
			#{transContactPerson},
			#{transContactPersonTel},
			#{wagonType},
			#{qty},
			#{dealTime},
			#{approveTime},
			#{approvePersonNo},
			#{startTime},
			#{endTime},
			#{remarks}
		)
	</insert>
	
	<update id="update">
		UPDATE vehicle_info SET 	
			update_by = #{updateBy.id},
			update_date = #{updateDate},
			archive_flag = #{archiveFlag},
			company_code = #{companyCode},
			company_cname = #{companyCname},
			type_code = #{typeCode},
			vehicle_no = #{vehicleNo},
			group_code = #{groupCode},
			pass_code = #{passCode},
			rfid_no = #{rfidNo},
			srfid_no = #{srfidNo},
			group_company_name = #{groupCompanyName},
			dept_code = #{deptCode},
			carry_company_name = #{carryCompanyName},
			op_dept_code = #{opDeptCode},
			use_user_id = #{useUserId},
			trans_contact_person = #{transContactPerson},
			trans_contact_person_tel = #{transContactPersonTel},
			wagon_type = #{wagonType},
			qty = #{qty},
			deal_time = #{dealTime},
			approve_time = #{approveTime},
			approve_person_no = #{approvePersonNo},
			start_time = #{startTime},
			end_time = #{endTime},
			remarks = #{remarks}
		WHERE id = #{id}
	</update>
	
	
	<!--物理删除-->
	<update id="delete">
		DELETE FROM vehicle_info
		WHERE id = #{id}
	</update>
	
	<!--逻辑删除-->
	<update id="deleteByLogic">
		UPDATE vehicle_info SET 
			del_flag = #{DEL_FLAG_DELETE}
		WHERE id = #{id}
	</update>
	
	
	<!-- 根据实体名称和字段名称和字段值获取唯一记录 -->
	<select id="findUniqueByProperty" resultType="VehicleInfo" statementType="STATEMENT">
		select * FROM vehicle_info  where ${propertyName} = '${value}'
	</select>

	<!-- 根据车辆信息表判断车牌是否有权限进出 -->
	<select id="checkByVehicleNo" resultType="VehicleInfo">
		SELECT
			<include refid="vehicleInfoColumns"/>
		FROM
			vehicle_info a
		WHERE a.del_flag = '0'
		<if test="vehicleNo != null and vehicleNo != ''">
			AND a.vehicle_no = #{vehicleNo}
		</if>
		<if test="rfidNo != null and rfidNo != ''">
			AND a.rfid_no = #{rfidNo}
		</if>
		<if test="srfidNo != null and srfidNo != ''">
			AND a.srfid_no = #{srfidNo}
		</if>
	</select>

	<!--接口方法-->
	<insert id="insertVehicleInfo">
		INSERT INTO vehicle_info(
			id,
			create_by,
			create_date,
			update_by,
			update_date,
			del_flag,
			type_code,
			vehicle_no,
			group_code,
			pass_code,
			rfid_no,
			group_company_name,
			dept_code,
			carry_company_name,
			op_dept_code,
			trans_contact_person,
			trans_contact_person_tel,
			wagon_type,
			qty,
			deal_time,
			approve_time,
			approve_person_no,
			start_time,
			end_time,
			remarks
		) VALUES (
			#{id},
			#{createBy.id},
			#{createDate},
			#{updateBy.id},
			#{updateDate},
			#{delFlag},
			#{typeCode},
			#{vehicleNo},
			#{groupCode},
			#{passCode},
			#{rfidNo},
			#{groupCompanyName},
			#{deptCode},
			#{carryCompanyName},
			#{opDeptCode},
			#{transContactPerson},
			#{transContactPersonTel},
			#{wagonType},
			#{qty},
			#{dealTime},
			#{approveTime},
			#{approvePersonNo},
			#{startTime},
			#{endTime},
			#{remarks}
		)
	</insert>

	<!--物理删除-->
	<update id="deleteVehicleInfo">
		DELETE FROM vehicle_info
		WHERE vehicle_no = #{vehicleNo}
		and group_code=#{groupCode}
	</update>

	<!--逻辑删除-->
	<update id="cancelVehicleInfo">
		UPDATE vehicle_info SET
			del_flag = #{DEL_FLAG_DELETE}
		WHERE vehicle_no = #{vehicleNo}
	</update>

	<!-- 查询该车辆是否在有效期之内 -->
	<select id="queryValidity" resultType="VehicleInfo" >
		SELECT
		<include refid="vehicleInfoColumns"/>
		FROM
		vehicle_info a
		WHERE
		a.vehicle_no = #{vehicleNo}
		AND now() between a.start_time AND a.end_time

	</select>

    <!--查询该车辆类型-->
	<select id="getVehiclePassCode" resultType="VehicleInfo" >
		SELECT
		sdv.label typeCodeName,
		<include refid="vehicleInfoColumns"/>
		FROM vehicle_info a
		left join sys_dict_type sdt on sdt.type = 'vehicle_type'
		left join sys_dict_value sdv on sdv.dict_type_id = sdt.id
		and a.type_code = sdv.value

		WHERE a.vehicle_no = #{vehicleNo}
		AND NOW() BETWEEN a.start_time
		AND a.end_time
	</select>

	<!--查询该车辆类型-->
	<select id="getVehicleNoByRfid" resultType="VehicleInfo" >
		SELECT
		<include refid="vehicleInfoColumns"/>
		FROM vehicle_info a
		WHERE  NOW() BETWEEN a.start_time
		AND a.end_time
		and a.del_flag='0'
		<if test="rfidNo != null and rfidNo != ''">
			AND a.rfid_no = #{rfidNo}
		</if>

	</select>
	<!--查询该车辆类型-->
	<select id="getVehicleNoBySrfid" resultType="VehicleInfo" >
		SELECT
		<include refid="vehicleInfoColumns"/>
		FROM vehicle_info a
		WHERE  NOW() BETWEEN a.start_time
		AND a.end_time
		and a.del_flag='0'
		<if test="srfidNo != null and srfidNo != ''">
			AND a.srfid_no = #{srfidNo}
		</if>

	</select>

    <!-- 更新RFID-->
	<update id="updaterfid">
		UPDATE vehicle_info SET
		rfid_no = #{rfidNo},
		update_by = #{updateBy.id},
		update_date = #{updateDate}
		WHERE id = #{id}
	</update>

	<!-- 更新轨道衡RFID-->
	<update id="updaterRailfid">
		UPDATE vehicle_info SET
		srfid_no = #{srfidNo},
		update_by = #{updateBy.id},
		update_date = #{updateDate}
		WHERE id = #{id}
	</update>

</mapper>